.sd-layout:hover {
  outline: 2px dashed #5d79c7;
  position: relative;
  &::before {
    color: #eee;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    background-color: #333;
    padding: 4px;
    border: 1px solid #555;
    cursor: pointer;
  }
  &::after {
    color: #eee;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75px;
    background-color: #333;
    padding: 4px;
    border: 1px solid #555;
    cursor: pointer;
  }
}

.sd-template.sd-mode-start .sd-layout:hover{
  &::before {
    content: "MOVE";
  }
  &::after {
    content: "EDIT";
  }
}

.sd-template.sd-mode-move .sd-layout:hover{
  &::before {
    content: "UP";
  }
  &::after {
    content: "DOWN";
  }
}

.sd-template.sd-mode-edit .sd-layout:hover{
  &::before {
    content: "STYLES";
  }
  &::after {
    content: "LAYOUT";
  }
}

.sd-template.sd-mode-layout .sd-layout:hover {
  .sd-content-container {
    min-height: 10px;
    outline: 1px dashed #5d79c7;
    background-color: rgba(93, 121, 199, 0.5);
  }
  .sd-content-block {
    min-height: 10px;
    outline: 1px solid #00a000;
    background-color: rgba(38, 199, 30, 0.50);
  }

  position: relative;
  &::before {
    content: "CHANGE";
  }
  &::after {
    content: "CANCEL";
  }
}
